/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-left {
    align-items: left;
}

.small-gap {
    gap: 0.25rem;
}

.medium-gap {
    gap: 0.5rem;
}

.large-gap {
    gap: 1rem;
}