.header {
    padding: 1rem 2.5rem;
    background-color: white;
}

.user-container {
    position: relative;
}

.dropdown {
    z-index: 1;
    position: absolute;
    background-color: white;
    padding: 0.5rem;
    gap: 0.5rem;
    border-radius: 0.25rem;
}

.dropdown-item {
    cursor: pointer;
    color: rgb(63, 127, 255);
}

.xxx {
    background-color: gray;
}