<div class="child flex-col large-gap">
    <button class="self-start" routerLink="../">Back</button>
    <h1>Log Details</h1>
    <div class="grid">
        <div class="grid-row-three">
            <label for="date">Date:</label>
            <p *ngIf="!isEditing">{{this.getDate()}}</p>
            <input *ngIf="isEditing" [(ngModel)]="this.updatedLog.consumption_time" type="datetime-local">
        </div>
        <div class="grid-row-three">
            <label for="food">Food:</label>
            <p *ngIf="!isEditing">{{this.food.name}}</p>
            <select *ngIf="isEditing" [(ngModel)]="this.updatedFood">
                <option *ngFor="let f of this.foods" [ngValue]="f">
                    {{ f.name }} ({{ f.calories }} cal)
                </option>
            </select>
        </div>
        <div class="grid-row-three">
            <label for="amount">Amount:</label>
            <p *ngIf="!isEditing">{{this.log.amount + " " + this.food.units_type }}</p>
            <input *ngIf="isEditing" [(ngModel)]="this.updatedLog.amount" type="number">
            <p *ngIf="isEditing">{{this.updatedFood.units_type}}</p>
        </div>
    </div>
    <!-- <h3>Date: {{ isEditing ? '' : this.getDate() }}
    </h3>
    <h3>Food: {{ isEditing ? '' : this.food.name }}
        <select *ngIf="isEditing" [(ngModel)]="this.updatedFood">
            <option *ngFor="let f of this.foods" [ngValue]="f">
                {{ f.name }} ({{ f.calories }} cal)
            </option>
        </select>
    </h3>
    <h3>Amount: {{ isEditing ? '' : this.log.amount }}
        <input *ngIf="isEditing" [(ngModel)]="this.updatedLog.amount" type="number">
        {{ isEditing ? this.updatedFood.units_type : this.food.units_type }}
    </h3> -->
    <button (click)="toggleEdit()">{{ isEditing ? 'Cancel Edit' : 'Edit' }}</button>
    <button *ngIf="isEditing" (click)="saveChanges()">Save Changes</button>
    <button *ngIf="!isEditing" (click)="deleteLog()">Delete</button>
</div>