<form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
    <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" placeholder="Repeat Password" required />
    <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required />
    <h3>Additional Information</h3>
    <h6>Sex: </h6>
    <label for="male">
        <h6>Male</h6>
    </label>
    <input type="radio" [(ngModel)]="sex" name="male" value="male" />
    <label for="female">
        <h6>Female</h6>
    </label>
    <input type="radio" [(ngModel)]="sex" name="male" value="female" />
    <label for="birthdate">Birthdate: </label>
    <input type="date" [(ngModel)]="birthdate" name="birthdate" placeholder="Birthdate" required />
    <input type="number" [(ngModel)]="weight" name="weight" placeholder="Weight (in kilograms)" required />
    <input type="number" [(ngModel)]="height" name="height" placeholder="Height (in centimeters)" required />
    <button type="submit">Sign up</button>
</form>