<div class="child flex-col large-gap">
    <button class="self-start" routerLink="../">Back</button>
    <h1>Log Form</h1>
    <div class="grid">
        <div class="grid-row">
            <label for="consumption_time">Date:</label>
            <input name="consumption_time" [(ngModel)]="this.consumption_time" type="datetime-local">
        </div>
        <div class="grid-row">
            <label for="food">Food:</label>
            <select name="food" [(ngModel)]="this.selectedFood">
                <option *ngFor="let food of this.foods" [ngValue]="food">{{ food.name }} ({{ food.calories }} cal)
                </option>
            </select>
        </div>
        <div class="grid-row">
            <label for="amount">Amount:</label>
            <input name="amount" [(ngModel)]="this.amount" type="number">
        </div>
    </div>
    <button (click)="this.createFood()">Create</button>
</div>