<div class="parent content">
    <div class="child flex-col large-gap">
        <button class="self-start" routerLink="../">Back</button>
        <h1>Profile</h1>
        <div class="grid">
            <div class="grid-row">
                <label for="">Username:</label>
                <p>{{ this.user.username }}</p>
            </div>
            <div class="grid-row">
                <label for="">Email:</label>
                <p>{{ this.user.email }}</p>
            </div>
            <div class="grid-row">
                <label for="">Sex:</label>
                <p>{{ this.user.sex }}</p>
            </div>
            <div class="grid-row">
                <label for="">Age:</label>
                <p>{{ this.age }}</p>
            </div>
            <br>
            <div class="grid-row">
                <label for="">Weight:</label>
                <p>{{ this.kilograms }} kgs ({{ this.pounds }} lbs)</p>
            </div>
            <div class="grid-row">
                <label for=""> Height:</label>
                <p>{{ this.centimeters }} cm ({{ this.feet }}'{{ this.inches }}")</p>
            </div>
        </div>
    </div>
</div>