<button routerLink="../">Back</button>
<h1>{{ isEditing ? '' : food.name }}

    <input *ngIf="isEditing" [(ngModel)]="updatedFood.name" />
</h1>
<h3>Serving Size: {{ isEditing ? '' : food.units + " " + food.units_type }}
    <ng-container *ngIf="isEditing">
        <input type="number" [(ngModel)]="updatedFood.units" />
        <label for="g">g</label>
        <input id="g" type="radio" [(ngModel)]="updatedFood.units_type" name="units_type" value="g" />
        <label for="ml">ml</label>
        <input id="ml" type="radio" [(ngModel)]="updatedFood.units_type" name="units_type" value="ml" />
    </ng-container>
</h3>
<h3>Calories: {{ isEditing ? '' : food.calories }}
    <input *ngIf="isEditing" type="number" [(ngModel)]="updatedFood.calories" />
</h3>
<h3>Fats: {{ isEditing ? '' : food.fats }}
    <input *ngIf="isEditing" type="number" [(ngModel)]="updatedFood.fats" />
    g
</h3>
<h3>Carbs: {{ isEditing ? '' : food.carbs }}
    <input *ngIf="isEditing" type="number" [(ngModel)]="updatedFood.carbs" />
    g
</h3>
<h3>Proteins: {{ isEditing ? '' : food.proteins }}
    <input *ngIf="isEditing" type="number" [(ngModel)]="updatedFood.proteins" />
    g
</h3>
<button (click)="toggleEdit()">{{ isEditing ? 'Cancel Edit' : 'Edit' }}</button>
<button *ngIf="isEditing" (click)="saveChanges()">Save Changes</button>
<button *ngIf="!isEditing" (click)="deleteFood()">Delete</button>