<div class="component-container">
    <div class="component vertical center">
        <div>
            <p *ngIf="loginFailed">Invalid username or password.</p>
        </div>
        <form (ngSubmit)="onSubmit()">
            <div class="vertical center medium-gap">
                <div>
                    <input type="text" [(ngModel)]="username" name="username" placeholder="Username" required />
                </div>
                <div class="vertical left medium-gap">
                    <a class="link" routerLink="/password">Forgot Password?</a>
                    <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required />
                </div>
                <div class="vertical center medium-gap">
                    <button type="submit">Log in</button>
                    <a class="link" routerLink="/signup">Sign up here.</a>
                </div>
            </div>
        </form>
        <div>
        </div>
    </div>
</div>