<div class="child flex-col large-gap">
    <button class="self-start" routerLink="../">Back</button>
    <h1>New Food</h1>
    <div class="grid">
        <div class="grid-row-three">
            <label for="name">Name:</label>
            <input type="text" [(ngModel)]="this.food.name">
        </div>
        <div class="grid-row-three">
            <label for="units">Serving Size:</label>
            <input type="number" [(ngModel)]="this.food.units">
            <div class="flex-row medium-gap">
                <div class="flex-row medium-gap">
                    <label for="g">g</label>
                    <input id="g" type="radio" [(ngModel)]="this.food.units_type" name="units_type" value="g" />
                </div>
                <div class="flex-row medium-gap">
                    <label for="ml">ml</label>
                    <input id="ml" type="radio" [(ngModel)]="this.food.units_type" name="units_type" value="ml" />
                </div>
            </div>
        </div>
        <div class="grid-row-three">
            <label for="calories">Calories:</label>
            <input [(ngModel)]="this.food.calories" type="number">
        </div>
        <div class="grid-row-three">
            <label for="fats">Fats:</label>
            <input [(ngModel)]="this.food.fats" type="number">
            <p>g</p>
        </div>
        <div class="grid-row-three">
            <label for="carbs">Carbs:</label>
            <input [(ngModel)]="this.food.carbs" type="number">
            <p>g</p>
        </div>
        <div class="grid-row-three">
            <label for="proteins">Proteins:</label>
            <input [(ngModel)]="this.food.proteins" type="number">
            <p>g</p>
        </div>
    </div>
    <button (click)="createFood()">Create</button>
</div>